:root {
  --first: #f3cba5;

  --second: #975a5e;

  --third: #453953;

  --fourth: #25161b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--second);
}

html,
body {
  height: 100%;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 1.7rem;
  background-color: #96595d;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
}

/* DROPDOWN */

.dropbtn {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: #6e4144;
  background-color: #96595d;
  font-family: "Aboreto", cursive;
  /* border: #6e4144 2px solid;
  box-shadow: -14px 17px 33px -4px #6e4144; */
}

.dropdown {
  position: relative;
  display: inline-block;
  width: auto;
  height: 2.2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header#main {
  min-height: 100vh;
  flex-direction: column;
  font-size: 3rem;
}

header.songs {
  margin: 3%;
  font-size: 1.8rem;
}

header.lista {
  margin: 3%;
  font-size: 1.8rem;
}

header#main h1 {
  margin: 1rem;
}

header#main ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.mainLista {
  margin-top: 8%;
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.mainLista a {
  margin: 2%;
}

.boxes {
  /* border: 2px solid #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content {
  width: 65%;
}

.headers {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  min-height: 30%;
  margin: 1.5rem;
}

.contents {
  /* border: 1px solid blueviolet; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  min-height: 50vh;
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  margin: 1.3rem;
  text-align: center;
}

pre {
  font-family: inherit;
}

.description {
  width: 35%;
}

.rimandoTematica {
  font-size: 2.5rem;
  width: 100%;
  min-height: 20vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
